@model IEnumerable<UnderstandingStructureApp.Models.ViewModel.PizzaImageViewModel>

@{
    ViewData["Title"] = "Index";
}
<style>
    .card{
            margin: 10px;
            float: left;
            
    }
</style>

<h1>Welcome @ViewBag.username</h1>

@foreach (var item in Model)
{
    <div class="card" style="width: 18rem;">
      @*   <img class="card-img-top" src="@item.Images[0]" alt="Card image cap"> *@
        <div id="pizzaCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @for (int i = 0; i < item.Images.Count; i++)
                {
                    <div class="carousel-item @(i == 0 ? "active" : "")">
                        <img height="250" src="@item.Images[i]" class="d-block w-100" alt="Pizza Image">
                    </div>
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#pizzaCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#pizzaCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="card-body">
            <p class="card-text">@item.Description</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">@item.Name</li>
            <li class="list-group-item">Priced at $@item.Price</li>
        </ul>
    </div>
}



